<!DOCTYPE html>
<div th:fragment="intra-nav-bar-fragment" class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row align-items-center">
        <div class="col-3 center-block">
            <a th:href="@{/user-tickets}">All Tickets</a>
        </div>

        <div class="col-3 center-block">
            <a th:href="@{/tickets/all-open-tickets}">Open Tickets</a>
        </div>

        <div class="col-3 center-block">
            <a th:href="@{/tickets/all-closed-tickets}">Closed tickets</a>
        </div>
    </div>
</div>