<!DOCTYPE html>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm" th:fragment="navbar-fragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="my-0 mr-md-auto font-weight-normal navbar-brand" th:href="@{/tickets/all-open-tickets}" style="text-decoration: none">BSK TICKETING</a>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg info-color">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" style="color: #EDF2F2">
                        View Tickets <span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info bg-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" th:href="@{/tickets/my-tickets}">My Tickets</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create-ticket}" style="color: #EDF2F2">
                        Create Ticket
                    </a>
                </li>
                <li class="nav-item">
                    <a th:if="${userRole == 'ROLE_ADMIN' || userRole == 2}" class="nav-link" th:href="@{/sign-up}" style="color: #EDF2F2">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3"  style="color: #EDF2F2;" th:href="@{/user-logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</div>
