
/*remove colors on hover of inuts*/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.form-input{
    border-radius: 0;
    width: 100%;
    min-height: 40px;
    padding: 5px;
}

.form-select-input{
    border-radius: 0;
    width: 100%;
    height: 40px;
    min-height: 30px;
    padding: 1px;
    font-size: medium;
}

.form-submit {
    height: 40px;
    width: 100px;
    color: white;
    background-color: #0F75BC;
    border-radius: 0;
}

.form-escalate-submit {
    height: 40px;
    width: 100px;
    color: white;
    background-color: #0F75BC;
    border: none;
    margin: 5px 0 0 10px;
    border-radius: 0;
}

.form-cancel {
    height: 40px;
    width: 100px;
    color: white;
    background-color: red;
    border-radius: 0;
    margin-left: 30px;
}

header {
    height: 70px;
    background-color: grey;
    margin-bottom: 15px;
}

.btn-regular{
    border: none;
    width: 100px;
    height: 35px;

}

.open {
    color: white;
    background-color: green;
}

.closed {
    color: white;
    background-color: red;
}

.navbar-brand {
    padding: 5px 10px 5px 10px;
    border: 2px solid #FCFEFF;
    color: #FCFEFF;
}

.center-block{
    display: table;
    margin: auto;
}

nav {
    margin-bottom: 20px;
}

.logout-button{
    background-color: transparent;
    color: black;
    border: none;
}

.invalid-credentials {
    color: red;
    margin: auto;
}

.btn-ticket-close {
    background-color: black;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container-login {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container-login:before, .container-login:after {
    content: "";
    display: block;
    clear: both;
}
.container-login .info {
    margin: 50px auto;
    text-align: center;
}
.container-login .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container-login .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container-login .info span a {
    color: #000000;
    text-decoration: none;
}
.container-login .info span .fa {
    color: #EF3B3A;
}
.login-body {
    background: #EDF2F2; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #EDF2F2, #E4EBEB, #F2F2F2);
    background: -moz-linear-gradient(right, #EDF2F2, #E4EBEB, #F2F2F2);
    background: -o-linear-gradient(right, #EDF2F2, #E4EBEB, #F2F2F2);
    background: linear-gradient(to left, #EDF2F2, #E4EBEB, #F2F2F2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover {
    background-color: transparent;
}