<!--
  ~ Copyright (c) 2018
  ~       BSK (BlueSky Consultants Limited, Kenya)
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content" style="width:70%">
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <p>ACCESS DENIED - YOU ARE TRYING TO ACCESS UN-AUTHORISED PAGE</p>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
</body>
<script href="../static/bower_components/jquery/dist/jquery.min.js"
        th:href="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script href="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"
        th:href="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script href="../static/bower_components/fastclick/lib/fastclick.js"
        th:href="@{/bower_components/fastclick/lib/fastclick.js}"></script>
<script href="../static/dist/js/adminlte.min.js" th:href="@{/dist/js/adminlte.min.js}"></script>
<script href="../static/dist/js/demo.js" th:href="@{/dist/js/demo.js}"></script>
</html>