<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${asset.name}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" th:href="@{/user-tickets}">BSK TICKETING</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/create-ticket}">Create Ticket <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user-tickets}">View Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/view-assets}">View Assets</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <center><h3><span th:text="${asset.name}"></span> tickets</h3></center>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <ul class="list-group">
                <a th:each="ticket: ${assetTickets}" class="list-group-item list-group-item-action flex-column align-items-start"
                    th:href="@{/user-tickets/{ticketId}(ticketId=${ticket.id})}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 th:text="${ticket.title}" class="mb-1"></h5>
                    </div>
                    <p class="mb-1" th:text="${ticket.description}"></p>
                    <small th:if="${ticket.open}" th:text="Open"></small>
                    <small th:unless="${ticket.open}" th:text="Closed"></small>
                </a>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</div>


</body>
</html>