<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Change Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="my-0 mr-md-auto font-weight-normal navbar-brand" th:href="@{/#}">BSK TICKETING</a>
    <nav class="mb-1 navbar navbar-expand-lg info-color">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    </div>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3"  style="color: #EDF2F2;" th:href="@{/user-logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" th:fragment="navbar-fragment" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--    <a class="my-0 mr-md-auto font-weight-normal navbar-brand" href="#">BSK TICKETING</a>-->
<!--    <nav class="my-2 my-md-0 mr-md-3">-->
<!--        <a class="btn btn-outline-primary" th:href="@{/user-logout}">Log Out</a>-->
<!--    </nav>-->
<!--</div>-->

<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <p class="invalid-credentials" th:text="${message}"></p>

            <form th:action="@{/change-password}" th:object="${user}" method="POST">
                <div class="form-group">
                    <label for="exampleInputPassword">New Password</label>
                    <input type="password" class="form-input" id="exampleInputPassword" placeholder="Enter New Password"
                           th:field="*{password}" required>
                </div>
                <button type="submit" class="btn form-submit">Submit</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>
