<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Tickets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">BSK TICKETING</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/create-ticket}">Create Ticket <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user-tickets}">View Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/view-assets}">View Assets</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-4 center-block">
                        <a href="">All Tickets</a>
                    </div>

                    <div class="col-4 center-block">
                        <a th:href="@{/tickets/all-open-tickets}">Open Tickets</a>
                    </div>

                    <div class="col-4 center-block">
                        <a th:href="@{/tickets/all-closed-tickets}">Closed tickets</a>
                    </div>

                </div>
            </div>

            <ul class="list-group">
                <a th:each="ticket: ${closedTickets}" class="list-group-item list-group-item-action" th:text="${ticket.title}"
                   th:href="@{/user-tickets/{ticketId}(ticketId=${ticket.id})}"></a>
            </ul>

        </div>

        <div class="col-1"></div>
    </div>
</div>

</body>

</html>