<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Asset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" th:href="@{/user-tickets}">BSK TICKETING</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/create-ticket}">Create Ticket <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user-tickets}">View Tickets</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/view-assets}">View Assets</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="col-2"></div>
    <div class="col-8">
        <form method="post" th:object="${asset}" th:action="@{/create-asset}">
            <div class="form-group">
                <label for="inputName">Asset Name</label>
                <input type="text" class="form-input" id="inputName" aria-describedby="inputTitleDesc" placeholder="Name" th:field="*{name}">
                <small id="inputTitleDesc" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <textarea class="form-input" id="inputDescription" rows="3" placeholder="Decsription" th:field="*{description}"></textarea>
            </div>

            <button type="submit" class="btn form-submit">Submit</button>
        </form>
    </div>
    <div class="col-2"></div>
</div>

</body>
</html>