<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Ticket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>
<div th:replace="fragments/nav-bar :: navbar-fragment"></div>

<div class="container">
    <div class="row">

        <div class="col-2"></div>
        <div class="col-8">
            <h3>Create Ticket</h3>
            <form method="post" th:action="@{/create-ticket}" th:object="${ticket}">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-input" id="inputTitle" aria-describedby="inputTitleDesc" placeholder="Title" th:field="*{title}" required>
                </div>

                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea class="form-input" id="inputDescription" rows="3" placeholder="Decsription" th:field="*{description}" required></textarea>
                </div>

<!--                    <label for="inputAsset">Description</label>-->
<!--                <select type="hidden" class="form-input form-control-lg" id="inputAsset" th:field="*{assetId}">-->
<!--                    <option th:value="0">Choose Asset</option>-->
<!--                    <option th:each="asset: ${allAssets}" th:text="${asset.name}" th:value="${asset.id}"></option>-->
<!--                </select>-->

                <input type="hidden" class="form-input" id="inputAsset" aria-describedby="inputTitleDesc" placeholder="Title" th:value="0" th:field="*{assetId}">

                <div class="row">
                    <button type="submit" class="btn form-submit">Submit</button>
                    <a class="btn form-cancel" th:href="@{/user-tickets}">Cancel</a>
                </div>
            </form>

        </div>
        <div class="col-2"></div>
    </div>
</div>

</body>
</html>
