<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="fragments/nav-bar :: navbar-fragment"></div>

<div class="container">

    <div class="row">
        <p class="invalid-credentials" th:text="${message}"></p>
    </div>

    <div class="row">

        <div class="col-3"></div>

        <div class="col-6">
            <form method="post" th:action="@{/sign-up}" th:object="${user}">
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-input" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}" required>
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-input" id="inputFirstName" aria-describedby="firstNameHelp" placeholder="Enter first name" th:field="*{firstName}" required>
                </div>

                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-input" id="inputLastName" aria-describedby="lastNameHelp" placeholder="Enter last name" th:field="*{lastName}" required>
                </div>

                <div class="form-group">
                    <label for="inputUsername">Preferred Name</label>
                    <input type="text" class="form-input" id="inputUsername" aria-describedby="usernameHelp" placeholder="Preferred Name" th:field="*{username}" required>
                </div>

                <div class="form-group">
                    <label for="inputRole">Role</label>
                    <select class="form-select-input form-control-lg" id="inputRole" th:field="*{role}">
                        <option th:value="ROLE_USER">User</option>
                        <option th:value="ROLE_ADMIN">Admin</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="text" class="form-input" id="exampleInputPassword1" placeholder="Password" th:field="*{password}" required>
                </div>

                <button type="submit" class="btn form-submit">ADD</button>
            </form>
        </div>

        <div class="col-3"></div>
    </div>
</div>

</body>
</html>
