<!DOCTYPE HTML>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Ticket Information</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div th:replace="fragments/nav-bar :: navbar-fragment"></div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-9">

                    <h1 th:text="${ticket.title}"></h1><br>
                    <p>
                        Created by: <b th:text="${ticket.userFirstName}"></b> <b th:text="${ticket.userLastName}"></b>
                    </p>
                    <p th:if="${ticket.open}">
                        Resolved by: <span th:if="${ticket.engaged == '0'}"><b th:text="N/A" style="color: red"></b></span>
                        <span th:unless="${ticket.engaged == '0'}"><b th:text="${ticket.closedByFirstName}"></b> <b th:text="${ticket.closedByLastName}"></b></span>
                    </p>
                    <p th:unless="${ticket.open}">
                        Closed by: <b th:text="${ticket.closedByFirstName}"></b> <b th:text="${ticket.closedByLastName}"></b>
                    </p>
                </div>
                <div class="col-3">
                    <button th:if="${ticket.open}" class="btn-regular open">Open</button>
                    <button th:unless="${ticket.open}" class="btn-regular closed">Closed</button>
                </div>
            </div>

            <hr>
            <p th:text="${ticket.description}"></p>
            <hr>
            <div th:if="${ticket.open == true}" class="row">
                <div class="col-6">
                    <div th:if="${role == 101}">
                        <form method="post" th:action="@{/user-tickets/escalate}" th:object="${ticketescdetails}">
                            <div class="row">
                                <div class="form-group">
                                    <input type="hidden" class="form-input" id="inputEscalatorId" aria-describedby="inputEscalator" name ="escalatorId" th:value="${escalator}" required>
                                    <input type="hidden" class="form-input" id="inputTicketId" aria-describedby="inputTicket" name="ticket" th:value="${ticket_id}" required>
                                    <select class="form-select-input form-control-lg" id="inputEscalatee" th:field="*{escalateeId}">
                                        <option th:each="user: ${escalatees}" th:text="${user.firstName} + ' ' + ${user.lastName}" th:value="${user.id}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="form-escalate-submit">Escalate</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="col-3">
                    <a th:unless="${ticket.engaged == 1 || ticket.engaged == 2}" th:href="@{/ticket/resolve-ticket/{ticketId}(ticketId=${ticket.id})}">
                        <button th:if="${ticket.engaged == 0 && role == comp_role}" class="btn-primary" style="margin: 5px 0 0 0; height: 40px;">Resolve Ticket</button>
                    </a>
                    <a th:if="${ticket.engaged == 1 && ticket.open}" th:href="@{/close-ticket/{ticketId}(ticketId=${ticket.id})}">
                        <button th:if="${ticket.open && ticket.userId == userId || role == comp_role}" class="btn-primary" style="margin: 5px 0 0 0; height: 40px;">Close Ticket</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>

</html>