<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Ticket Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>


</head>
<body>
<div th:replace="fragments/nav-bar :: navbar-fragment"></div>

<div class="container">
    <div class="col-md-11">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="panel-title">Ticket Report</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Search Parameters</h3>
                            </div>
                            <div class="box-body chart-responsive">
                                <form th:action="@{|/ticket/report|}" method="post">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <select class="form-control" id="reportType" name="reportType">
                                                    <option value="3">All Tickets</option>
                                                    <option value="2">Open Tickets</option>
                                                    <option value="1">Closed Tickets</option>
                                                </select>
                                            </div>
                                        </div>
                                        <script type="text/javascript" th:inline="javascript">
                                            /*<![CDATA[*/
                                            $(function () {
                                                $('#dateRange').daterangepicker({
                                                    locale: {
                                                        format: 'DD/MM/YYYY'
                                                    }
                                                });
                                            });
                                            /*]]>*/
                                        </script>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="dateRange" name="dateRange">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary" value="Generate">
                                            </div>
                                        </div>
                                        <div class="col-md-3" th:if="${isGenerated == 1}" >
                                            <div class="form-group">
                                                <a class="btn btn-success btn-flat" th:href="@{|/ticket/report/download/${generatedReport}|}">
                                                    <i class="fa fa-download"></i>  Download
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="flag" value="1">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">TICKET ID</th>
                <th scope="col">CREATED BY</th>
                <th scope="col">TICKET TITLE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CREATED ON</th>
                <th scope="col">CLOSED BY</th>
                <th scope="col">CLOSED ON</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report : ${reportDetails}">
                <td th:text="${report.id}">A</td>
                <td th:text="${report.userFirstName} + ' ' + ${report.userLastName} "></td>
                <td th:text="${report.title}">A</td>
                <td th:text="${report.description}">A</td>
                <td th:text="${report.openedAtLessTime}">A</td>
                <td th:text="${report.closedByFirstName} + ' ' + ${closedByFirstName}">A</td>
                <td th:text="${report.closedAtLessTime}">A</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>