<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User Tickets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>


</head>
<body>
<div th:replace="fragments/nav-bar :: navbar-fragment"></div>
<div th:if="${message != null}" class="row" style="width: 100%;">
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 100%;">
            <p th:text="${message}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <div class="row">
                <a class="center-block" th:href="@{/user-tickets}">All Tickets</a>
                <a class="center-block" th:href="@{/tickets/all-open-tickets}">Open Tickets<span class="sr-only">(current)</span></a>
                <a class="center-block" th:href="@{/tickets/all-closed-tickets}">Closed Tickets</a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Opened at</th>
                    <th scope="col">Opened by</th>
                    <th scope="col">Closed at</th>
                    <th scope="col">Closed by</th>
                    <th scope="col">Status</th>
                    <th scope="col">Progress</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket, iStat: ${userTickets}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${ticket.id} + '\');'">
                        <th scope="row" th:text="${ticket.title}"></th>
                        <td th:text="${ticket.openedAtLessTime}"></td>
                        <td th:text="${ticket.userFirstName} + ' ' + ${ticket.userLastName}"></td>
                        <td th:text="${ticket.closedAtLessTime}"></td>
                        <td th:text="${ticket.closedByFirstName} + ' ' + ${ticket.closedByLastName}"></td>
                        <td>
                            <span th:if="${ticket.openedStatus}"><i class="fa fa-times fa-3x" aria-hidden="true" style="color: red"></i></span>
                            <span th:unless="${ticket.openedStatus}"><i class="fa fa-check fa-3x" aria-hidden="true" style="color: green"></i></span>
                        </td>
                        <td th:switch="${ticket.engaged}">
                            <span th:case="'0'"><i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color: red"><span class="sr-only">Loading...</span></i></span>
                            <span th:case="'1'"><i class="fa fa-cog fa-spin fa-3x fa-fw" style="color: #c1e2b3"></i></span>
                            <span th:case="'2'"><i class="fa fa-check fa-3x" aria-hidden="true" style="color: green"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                function rowClicked(value) {
                    location.href = "/user-tickets/" + value;
                }
            </script>
            <div class="row" th:if="${userTickets.totalPages > 0}">
                <ul class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <li th:class="${userTickets.number == 0} ? disabled">
                        <a th:href="@{''(page=${pageNumber})}"
                           th:text=${pageNumber}
                           class="page-link" th:classappend="${pageNumber==userTickets.number + 1} ? active"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>