<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="login-body">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="my-0 mr-md-auto font-weight-normal navbar-brand" th:href="@{/#}">BSK TICKETING</a>
    <nav class="mb-1 navbar navbar-expand-lg info-color">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    </div>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="container-login">

    <div class="login-page">
        <div class="form">
            <p th:if="${param.error}" class="invalid-credentials" th:text="${message}"></p>
            <form class="login-form" th:action="@{/support-portal/app-login}" method="POST">
                <input type="email" id="app_email" placeholder="Enter email" aria-describedby="emailHelp" name="app_email" required/>
                <input type="password" id="exampleInputPassword1" placeholder="Password"
                       name="app_password" required/>
                <button>Login</button>
                <p class="message">Nyandarua Pay Support Portal</p>
            </form>
        </div>
    </div>

<!--    <div class="row">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4">-->
<!--            <p th:if="${param.error}" class="invalid-credentials" th:text="${message}"></p>-->

<!--            <form th:action="@{/support-portal/app-login}" method="POST">-->
<!--                <div class="form-group">-->
<!--                    <label for="app_email">Email address</label>-->
<!--                    <input type="email" id="app_email" class="form-input" aria-describedby="emailHelp"-->
<!--                           placeholder="Enter email" name="app_email" required>-->
<!--                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="exampleInputPassword1">Password</label>-->
<!--                    <input type="password" class="form-input" id="exampleInputPassword1" placeholder="Password"-->
<!--                           name="app_password" required>-->
<!--                </div>-->
<!--                <button type="submit" class="btn form-submit">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
</div>
</body>
<script>
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>
</html>
