<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Assets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:replace="fragments/nav-bar :: navbar-fragment"></div>

<div class="container">
    <div class="row">
        <div th:each="asset: ${allAssets}" class="col-4 card">
            <div class="card-body">
                <a th:href="@{/view-asset/{assetId}(assetId=${asset.id})}" th:text="${asset.name}"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
